body {
    background-image:url("../images/main-background.jpg");

}

.jumbotron { 
    background-image:url("../images/background.jpg");
    border-bottom:solid black;
}

.foot-container {
    background-color:white;
    height:50px;
    border-top:solid black 3px;
}

.py-3 {
    padding-bottom: 0rem!important;
}

.text-muted {
    text-align:center;
}

.list-links {
    text-decoration: none;
    color:black;
}

.media-body {
    background-image: url("../images/background.jpg")
}

.vid-row {
    padding-top:20px;
    padding-bottom:20px;
}

.card-body {
    text-align:center;
    font-size:100px;
    color:white;
    background-image:url("..//images/main-background.jpg");
    font-family: 'ZCOOL KuaiLe', cursive;
}

